.App {
  border: 2px solid orange;
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

h1 {
  align-self: center;
  color: whitesmoke;
}

label {
  color: whitesmoke;
}

form {
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: column;
}

button {
  align-self: center;
}

ul {
  border: 2px solid plum;
  list-style-type: none;
  margin-block: 0;
  padding-inline: 0;
  color: whitesmoke;
}

.read {
  cursor: pointer;
}

.read:hover {
  background: orange;
}
